[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pymysql = "*"
pandas = "*"
tushare = "*"
baostock = "*"
pdfplumber = "*"
markupsafe = "*"
flask = "*"
flask-cors = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
